<div class="wrapper">
    <!-- <div class="page-header section-dark" style="background-image: url('assets/img/okta_background_grey.png')">
    <h1><img src="assets/img/okta_japan_white_medium.png" alt="" class="responsive"></h1>
  </div> -->
    <div class="page-header section-dark" style="background:white">

        <div class="mainContainer" fxLayout="columns wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
            <div class="subContainer">
                <div id="okta-signin-container">
                </div>
            </div>

            <div class="subContainer">
                <img src="assets/img/logo-lg.png" class="mainLogo">
            <br /><a class="appName">在庫管理システム
                <br />
                Powered by Okta
            </a>
            </div>
            
        </div>
    </div>
    <div class="main">



        <div class="section section-dark">
            <div class="container">
                <h1>Powered by</h1>
                <div>
                    <img src="assets/img/okta_logo_white_small.png" class="ciamBanner">
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>