.section-dark {
  background-color: #6e6e78;
}

body {
  color: white;
  background-color: #6e6e78;
  font-size: 14px;
  font-weight: 300;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif!important;
}

.responsive {
  width: 80% !important;
  height: auto !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  /* justify-content: center!important;*/
  text-align: center !important;
  /* align-items: center!important; */
}

.container {
  /* text-align: center !important; */
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif;
  color: #ffffff !important;
  font-size: 8px !important;
  text-align: center!important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif!important;
}

.ciamBanner {
  height: 50px !important;
  width: auto !important;
  
}

.mainContainer {
  /* border-style: dotted !important; */
  color:black!important;
  width: 95% !important;
  /* margin-top: 20px!important; */
}

.subContainer{
  /* border-style: dotted !important; */
  color:black!important;
  width: auto!important;
  /* text-align: center!important; */
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif!important;
    text-align: center!important;
    width: 50%;
}
.mainLogo{
  width:500px!important;
  
}

.okta-sign-in.auth-container.main-container, .okta-sign-in-header , .auth-header{
  border: none!important;
  height:auto!important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif!important;
}

#okta-sign-in, .auth-content{
  border: none!important; 
  height:auto!important;
}

.okta-form-title, .o-form-head{
  color: #ffffff!important;
}

.appName{
  text-align: center!important;
  font-size: 20px!important;
  color: #41414B!important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
  "Cantarell", "Helvetica Neue", sans-serif!important;
  font-weight: 900!important; 
  /* margin-bottom: 20px!important; */
}