<div class="productMainContainer" fxLayout="columns wrap" fxLayoutAlign="center center">
  <div class="productName">
    {{this.arrProductItem.name}}
  </div>
  <div class="imgDiv">
    <img src="{{ this.arrProductItem.imgPath }}" class="productImg">
  </div>
  

  <div class="productInfo" fxLayout="rows wrap" >
    <div class="productAttributes" fxLayout="columns wrap"  fxLayoutAlign="center center">
      <div class="itemAttribute"><a class="txtSpacer">商品コード</a></div>
      <div class="itemAttribute"><a class="txtSpacer">{{this.arrProductItem.itemcode}}</a></div>
      
      <div class="itemAttribute"><a class="txtSpacer">価格</a></div>
      <div class="itemAttribute"><a class="txtSpacer">{{this.arrProductItem.itemPrice  | currency : 'JPY'}}</a></div>
    
      <div class="itemAttribute"><a class="txtSpacer">在庫数</a></div>
      <div class="itemAttribute"><a class="txtSpacer">{{this.arrProductItem.stockCount}}</a></div>

      <div class="itemAttribute"><a class="txtSpacer">メーカー</a></div>
      <div class="itemAttribute"><a class="txtSpacer">{{this.arrProductItem.manu}}</a></div>

      <div class="itemAttribute"><a class="txtSpacer">店舗</a></div>
      <div class="itemAttribute"><a class="txtSpacer">{{this.arrProductItem.store}}</a></div>

  </div>
  
  

  </div>

  <div class="productDesc">
    {{this.arrProductItem.desc}}
  </div>


</div>

<div>
  <!-- <a routerLink="/start" class="btnLion btn" id="order">発注</a> -->
  <a routerLink="/create-order" class="btnLion btn" id="order"  routerLinkActive="active">発注</a>
  <!-- <a class="btnLion btn" id="logout" (click)="OrderItem()">発注</a> -->
  <!-- <a class="btnLion btn" id="logout" (click)="Logout()">ログアウト</a> -->
</div>