<div class="wrapper">
  <!-- <div class="page-header section-dark" style="background-image: url('assets/img/okta_background_grey.png')">
  <h1><img src="assets/img/okta_japan_white_medium.png" alt="" class="responsive"></h1>
</div> -->
  <div class="page-header section-dark" style="background:white">

    <div class="mainContainer" fxLayout="row wrap" fxLayoutAlign="center start">
      <div class="mainUserNameItem">
        {{ OktaGetTokenService.strUserName }}
      </div>
      <div class="pageHead">発注一覧</div>
      <div class="mainUserNameItem">

        <table mat-table [dataSource]="tableDataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="orderID">
            <th mat-header-cell *matHeaderCellDef>発注番号</th>
            <td mat-cell *matCellDef="let element"> {{element.orderID}} </td>
          </ng-container>

          <ng-container matColumnDef="orderStatus">
            <th mat-header-cell *matHeaderCellDef>ステータス</th>
            <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
          </ng-container>

          <ng-container matColumnDef="manu">
            <th mat-header-cell *matHeaderCellDef>メーカー</th>
            <td mat-cell *matCellDef="let element"> {{element.manu}} </td>
          </ng-container>

          <ng-container matColumnDef="destShop">
            <th mat-header-cell *matHeaderCellDef>納品先</th>
            <td mat-cell *matCellDef="let element"> {{element.destShop}} </td>
          </ng-container>

          <ng-container matColumnDef="eta">
            <th mat-header-cell *matHeaderCellDef>納品予定日</th>
            <td mat-cell *matCellDef="let element"> {{element.eta * 1000 | date:'MMM d, y'}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openProduct(row)"></tr>
        </table>

      
      <div class="btnDefault">
        <a class="btn" id="logout" (click)="SetDefault()">初期設定に戻す</a>
      </div>
    </div>


    <div class="okta_banner">
      <img src="assets/img/okta-japan-logo-dark.png" class="okta_ciam">
    </div>
  </div>
</div>
</div>

<!-- routerLink="/mypage" -->