<div class="wrapper">
  <!-- <div class="page-header section-dark" style="background-image: url('assets/img/okta_background_grey.png')">
  <h1><img src="assets/img/okta_japan_white_medium.png" alt="" class="responsive"></h1>
</div> -->
  <div class="page-header section-dark" style="background:white">

    <div class="mainContainer" fxLayout="row wrap" fxLayoutAlign="center start">
      <div class="mainUserNameItem">
        {{ OktaGetTokenService.strUserName }}
      </div>
      <div class="mainUserNameItem">

        <div class="pageHead">在庫一覧</div>

        <mat-form-field appearance="legacy" [style.width.px]=350>
          <mat-label>商品一覧のフィルター</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. chair" #input>
          <mat-icon matSuffix>filter_list</mat-icon>
        </mat-form-field>
      </div>
      
      <div class="mainContainerItem" fxLayout="columns wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

         
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>商品名</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>商品カテゴリー</th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
          </ng-container>
          
          <ng-container matColumnDef="designer">
            <th mat-header-cell *matHeaderCellDef>デザイナー</th>
            <td mat-cell *matCellDef="let element"> {{element.designer}} </td>
          </ng-container>
          
          <ng-container matColumnDef="manu">
            <th mat-header-cell *matHeaderCellDef>製造会社</th>
            <td mat-cell *matCellDef="let element"> {{element.manu}} </td>
          </ng-container>

          <ng-container matColumnDef="stockCount">
            <th mat-header-cell *matHeaderCellDef>在庫数</th>
            <td mat-cell *matCellDef="let element"> {{element.stockCount}} </td>
          </ng-container>

          <ng-container matColumnDef="itemcode">
            <th mat-header-cell *matHeaderCellDef>商品コード</th>
            <td mat-cell *matCellDef="let element"> {{element.itemcode}} </td>
          </ng-container>

          <ng-container matColumnDef="itemPrice">
            <th mat-header-cell *matHeaderCellDef>商品単価</th>
            <td mat-cell *matCellDef="let element"> {{element.itemPrice | currency : 'JPY'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openProduct(row)" ></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell noMatch" colspan="4">"{{input.value}}" は見つかりませんでした。</td>
          </tr>

          

        </table>


      </div>
      <div class="okta_banner">
        <img src="assets/img/okta-japan-logo-dark.png" class="okta_ciam">
      </div>
    </div>
  </div>
</div>

<!-- routerLink="/mypage" -->