.mainContainer {
  /* border-style: dotted !important; */
  width: 95% !important;
  height: 550px !important;
  margin-top: 30px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  color: #41414b !important;
  overflow-y: auto;
}
/* Hide the scrollbar byu still allow scroll : Chrome, Safari and Opera */
.mainContainer::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar byu still allow scroll :  IE, Edge and Firefox */
.mainContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.mainUserNameItem {
  /* border-style: dotted !important; */
  width: 50% !important;
  /* margin: 7px !important; */
  text-align: center !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #41414b !important;
}

.mainMenuItem {
  /* border-style: dotted !important; */
  width: 100% !important;
  margin-top: 10px !important;
}

.btnDiv {
  margin-top: 20px !important;
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
  cursor: pointer;
}

.okta_banner {
  width: 100% !important;
  margin-top: 50px !important;
  margin-bottom: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  text-align: end !important;
  padding-right: 40px !important;
}

.okta_ciam {
  width: 200px !important;
  height: auto !important;
}
.areaSpacer {
  width: 100% !important;
  height: 60px !important;
}
.orderFormContainer {
  /* border-style: dotted!important; */
  width: 80% !important;
  height: 500px!important;
  margin-right: 0px !important;
  /* overflow-y: auto; */
}
.orderFormHeadDiv {
  /* border-style: dotted!important; */
  width: 100% !important;
  height: 30px !important;
  background-color: #41414b !important;
  color: #ffffff !important;
  text-align: center !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
}

.orderFormContainer {
  height: 200px !important;
}
.OrderFormMain {
  margin-top: 10px !important;
  height:auto!important;
  /* overflow-y: auto; */
}

.mat-form-field-ripple {
  background-color: #892100 !important;
}
.mat-focused .mat-form-field-label {
  color: #892100 !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
}

.formInputs {
  /* border-style: dotted !important; */
  width: 100% !important;
}

.DividerDIV {
  /* border-style: dotted !important; */
  background-color: #41414b !important;
  height: 30px !important;
  width: 100% !important;
  color: #ffffff !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  font-size: 16px !important;
  border-radius: 5px !important;
  text-align: center !important;
  padding-top: 5px !important;
  /* margin-bottom: 10px !important; */
  margin-top: 10px !important;
}

.productInfo {
  /* border-style: dotted !important; */
  /* background-color: #41414b!important; */
  /* height: 50px!important; */
  width: 100% !important;
  margin-top: 0px!important;
}

.productLeftSmall {
  /* border-style: dotted !important; */
  margin-top: 10px !important;
  background-color: #41414b !important;
  color: #ffffff !important;
  height: 30px !important;
  width: 100px !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
  margin-left: 7px !important;
  color: #ffffff !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
    padding-left: 7px !important;
}
.productRightSmall {
  border-style: solid !important;
  border-width: 1px !important;
  width: 150px!important;
  height: 30px !important;
  background-color: #ffffff !important;
  color: #41414b !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  margin-left: 7px !important;
  margin-top: 10px !important;
  padding-left: 7px !important;
}

.productRightLong {
  border-style: solid !important;
  border-width: 1px !important;
  width: 300px!important;
  height: 30px !important;
  background-color: #ffffff !important;
  color: #41414b !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  margin-left: 7px !important;
  margin-top: 10px !important;
  padding-left: 7px !important;
}



.productLeft {
  /* border-style: dotted !important; */
  margin-top: 10px !important;
  background-color: #41414b !important;
  color: #ffffff !important;
  height: 30px !important;
  width: 30% !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
  margin-left: 7px !important;
  color: #ffffff !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
    padding-left: 7px !important;
}


.productRight {
  border-style: solid !important;
  border-width: 1px !important;
  width: 50% !important;
  height: 30px !important;
  background-color: #ffffff !important;
  color: #41414b !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  margin-left: 7px !important;
  margin-top: 10px !important;
  padding-left: 7px !important;
}
.productRightPrice {
  border-style: solid !important;
  border-width: 1px !important;
  width: 200px!important;
  height: 30px !important;
  background-color: #ffffff !important;
  color: #41414b !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  margin-left: 7px !important;
  margin-top: 10px !important;
  text-align: end!important;
  padding-right: 5px!important;
  padding-left: 7px !important;
}

.ButtonDiv{
  width: 100%!important;
  padding-left:  50px!important;
  text-align: left!important;
}

.GrandTotalLeft{
  /* border-style: solid!important; */
  /* border-style: solid!important;
  border-width: 1px!important;
  border-radius: 5px!important; */
  width: 30%!important;
  height: 50px!important;
  text-align: center!important;
  font-size: 24px!important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
    padding-top:10px!important;
}

.GrandTotalRight{
  /* border-style: solid!important; */
  width: 30%!important;
  min-height: 30px!important;
  font-size: 24px!important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
    text-align: right!important;
    padding-right:20px!important;
    height: 50px!important;
    padding-top:2px!important;
}



.productLeftSmall {
  /* border-style: dotted !important; */
  margin-top: 10px !important;
  background-color: #41414b !important;
  color: #ffffff !important;
  height: 30px !important;
  width: 100px !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
  margin-left: 7px !important;
  color: #ffffff !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
    padding-left: 7px !important;
}
.productRightSmall {
  /* border-style: solid !important; */
  border-width: 1px !important;
  width: 150px!important;
  height: 30px !important;
  background-color: #ffffff !important;
  color: #41414b !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  margin-left: 7px !important;
  margin-top: 10px !important;
  padding-left: 7px !important;
}

.productName {
  border-style: solid !important;
  border-width: 1px !important;
  width: 60%!important;
  height: 30px !important;
  background-color: #ffffff !important;
  color: #41414b !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
  font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif !important;
  margin-left: 7px !important;
  margin-top: 10px !important;
  padding-left: 7px !important;
}

.ButtonDiv{
  margin-top: 20px!important;
}

.orderBtn{
  /* font-size: 24px!important; */
  width: 200px!important;
}

.BottomDiv{
  /* border-style: dotted; */
  width:100%!important;
}