<div class="storeMainContainer" fxLayout="rows wrap" fxLayoutAlign="center center" id="maincontainer" >

  <div class="DivStoreName" appAutoFocusDirective cdkFocusInitial >
    {{arrStoreDetails.name}}
  </div>
  <div class="telDiv">
    電話番号 : {{arrStoreDetails.tel}}
  </div> 
  <div class="telDiv">
    住所 : {{arrStoreDetails.address}}
  </div>
  <div class="HeadDiv">店舗在庫</div>
  <div class="storeSotckDiv" fxLayout="columns wrap" fxLayoutAlign="center center" >
    <table mat-table [dataSource]="arrStoreStock" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>製品</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="itemcode">
        <th mat-header-cell *matHeaderCellDef>商品コード</th>
        <td mat-cell *matCellDef="let element"> {{element.itemcode}} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>在庫個数</th>
        <td mat-cell *matCellDef="let element"> {{element.stockCount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="StockColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: StockColumns;" (click)="OpenItem(row)"></tr>
      </table>
  </div>
  <div class="HeadDiv">店舗所在地</div>
  <div class="mapDiv">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]='false' [mapDraggable]='false'>
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
  



</div>